image: node:20

stages:
  - test

test:
  stage: test
  only:
    - merge_requests
    - main
    - master
  before_script:
    - npm ci
  variables:
    DISCORD_TOKEN: 'ci-test-token'
    CLIENT_ID: 'ci-test-client-id'
  script:
    - npm run validate
    - npm test
  cache:
    paths:
      - node_modules/
