{
  "openapi": "3.1.0",
  "info": {
    "title": "gronka api",
    "version": "1.0.0-preview",
    "description": "paste a link, get the file. preview: not live yet and may change."
  },
  "servers": [
    {
      "url": "https://api.gronka.dev"
    }
  ],
  "tags": [
    {
      "name": "download"
    },
    {
      "name": "content",
      "description": "the text behind a link: posts, threads and comments as json."
    },
    {
      "name": "account",
      "description": "the account page uses a cookie session. scripts can use an api key."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "check the service",
        "responses": {
          "200": {
            "description": "service is up",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/download": {
      "post": {
        "tags": ["download"],
        "summary": "download from a link",
        "security": [
          {
            "apiKey": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadRequest"
              },
              "examples": {
                "plain": {
                  "value": {
                    "url": "https://x.com/user/status/123"
                  }
                },
                "trimmedAudio": {
                  "value": {
                    "url": "https://youtu.be/abc",
                    "mode": "audio",
                    "start": "1:00",
                    "end": "1:30"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "download result. a download that runs past about 80 seconds sends leading spaces first, and its error, if any, is in the body with this status",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DownloadResult"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "direct": {
                    "value": {
                      "lane": "direct",
                      "files": [
                        {
                          "url": "https://video.twimg.com/...",
                          "filename": null,
                          "type": "video"
                        }
                      ]
                    }
                  },
                  "merge": {
                    "value": {
                      "lane": "worker",
                      "merge": true,
                      "filename": "clip.mp4",
                      "files": [
                        {
                          "url": "https://dl.gronka.dev/f/...",
                          "filename": "clip.video.mp4",
                          "kind": "video",
                          "size": 30123456
                        },
                        {
                          "url": "https://dl.gronka.dev/f/...",
                          "filename": "clip.audio.m4a",
                          "kind": "audio",
                          "size": 1234567
                        }
                      ]
                    }
                  },
                  "failed": {
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "video duration exceeds the maximum allowed (60 minutes)."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "limits: 50 downloads per 10 minutes per ip, or per account for api keys (all keys of an account share them). keyed requests are also limited to 30 key checks per 10 minutes per ip."
      }
    },
    "/v1/account": {
      "post": {
        "tags": ["account"],
        "summary": "create an account",
        "description": "returns the account number once. we cannot recover it.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Turnstile"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "account created and session cookie set",
            "content": {
              "application/json": {
                "example": {
                  "id": "7K3P9",
                  "number": "GW 7K3P9 ABCDE FGHJK MNPQR STVWX YZ012 3"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": ["account"],
        "summary": "get account, keys and passkeys",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "account, keys, 2fa and passkeys",
            "content": {
              "application/json": {
                "example": {
                  "id": "7K3P9",
                  "createdOn": "2026-09-28",
                  "totp": true,
                  "recoveryCodesLeft": 9,
                  "keys": [
                    {
                      "id": "gk_ab12cd34",
                      "label": "cli",
                      "createdOn": "2026-09-28",
                      "lastUsedOn": null
                    }
                  ],
                  "passkeys": [
                    {
                      "id": "b2T9...",
                      "label": "phone",
                      "createdOn": "2026-09-28"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": ["account"],
        "summary": "delete the account and its keys immediately",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "account deleted"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "current 2fa code or a recovery code. required when the account has 2fa on"
                  }
                }
              }
            }
          }
        },
        "description": "delete the account and its keys immediately when 2fa is on, send a current code or a recovery code as `code`, or the answer is TOTP_REQUIRED, TOTP_INVALID or TOTP_LOCKED."
      }
    },
    "/v1/account/rotate": {
      "post": {
        "tags": ["account"],
        "summary": "replace the account number; the old one stops working at once",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "new account number",
            "content": {
              "application/json": {
                "example": {
                  "number": "GW 7K3P9 ..."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "current 2fa code or a recovery code. required when the account has 2fa on"
                  }
                }
              }
            }
          }
        },
        "description": "replace the account number; the old one stops working at once when 2fa is on, send a current code or a recovery code as `code`, or the answer is TOTP_REQUIRED, TOTP_INVALID or TOTP_LOCKED. ends every other session of the account; the current one stays."
      }
    },
    "/v1/session": {
      "post": {
        "tags": ["account"],
        "summary": "start a session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Turnstile"
                  },
                  {
                    "type": "object",
                    "required": ["number"],
                    "properties": {
                      "number": {
                        "type": "string"
                      },
                      "totp": {
                        "type": "string",
                        "description": "needed when 2fa is on: a 6-digit code, or one recovery code"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "session cookie set"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": ["account"],
        "summary": "end a session",
        "responses": {
          "200": {
            "description": "session cookie cleared"
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "tags": ["account"],
        "summary": "create an api key",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 40
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "key shown once. up to 10 keys per account.",
            "content": {
              "application/json": {
                "example": {
                  "id": "gk_ab12cd34",
                  "key": "gk_ab12cd34_..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/keys/{id}": {
      "delete": {
        "tags": ["account"],
        "summary": "revoke an api key",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^gk_[0-9a-z]{8}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "key revoked"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/totp/setup": {
      "post": {
        "tags": ["account"],
        "summary": "start turning on 2fa",
        "description": "returns a new secret. it only takes effect after /v1/totp/enable.",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "secret and otpauth uri",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "secret": {
                      "type": "string",
                      "description": "base32, for typing into an app"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/totp/enable": {
      "post": {
        "tags": ["account"],
        "summary": "turn on 2fa",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "a 6-digit code from the authenticator app, or a recovery code"
                  }
                },
                "required": ["code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recovery codes, shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recoveryCodes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/totp": {
      "delete": {
        "tags": ["account"],
        "summary": "turn off 2fa",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "a 6-digit code from the authenticator app, or a recovery code"
                  }
                },
                "required": ["code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2fa off, recovery codes deleted"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/totp/recovery": {
      "post": {
        "tags": ["account"],
        "summary": "replace the recovery codes",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "a 6-digit code from the authenticator app, or a recovery code"
                  }
                },
                "required": ["code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recovery codes, shown once",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recoveryCodes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/passkeys/register/options": {
      "post": {
        "tags": ["account"],
        "summary": "start adding a passkey",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "creation options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "a WebAuthn options object for navigator.credentials"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "current 2fa code or a recovery code. required when the account has 2fa on"
                  }
                }
              }
            }
          }
        },
        "description": "start adding a passkey when 2fa is on, send a current code or a recovery code as `code`, or the answer is TOTP_REQUIRED, TOTP_INVALID or TOTP_LOCKED."
      }
    },
    "/v1/passkeys/register": {
      "post": {
        "tags": ["account"],
        "summary": "finish adding a passkey",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "response": {
                    "type": "object",
                    "description": "the credential from navigator.credentials.create, as JSON"
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 40
                  }
                },
                "required": ["response"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "passkey added"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/passkeys/login/options": {
      "post": {
        "tags": ["account"],
        "summary": "start a passkey login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Turnstile"
                  },
                  {
                    "type": "object",
                    "properties": {}
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "request options and a challenge id, valid for 5 minutes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challengeId": {
                      "type": "string"
                    },
                    "options": {
                      "type": "object",
                      "description": "a WebAuthn options object for navigator.credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/passkeys/login": {
      "post": {
        "tags": ["account"],
        "summary": "log in with a passkey",
        "description": "no account number needed. a passkey login also clears a 2fa lockout.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "challengeId": {
                    "type": "string"
                  },
                  "response": {
                    "type": "object",
                    "description": "the credential from navigator.credentials.get, as JSON"
                  }
                },
                "required": ["challengeId", "response"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "session cookie set"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/passkeys/{id}": {
      "delete": {
        "tags": ["account"],
        "summary": "remove a passkey",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "passkey removed"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "current 2fa code or a recovery code. required when the account has 2fa on"
                  }
                }
              }
            }
          }
        },
        "description": "remove a passkey when 2fa is on, send a current code or a recovery code as `code`, or the answer is TOTP_REQUIRED, TOTP_INVALID or TOTP_LOCKED."
      }
    },
    "/v1/content": {
      "post": {
        "tags": ["content"],
        "summary": "read a post, thread or comments from a link",
        "description": "reads reddit posts (with the comment tree) and x posts (with the quoted post and the author's thread above it). same quota as /v1/download, shared per caller. preview: the shape may still change.",
        "security": [
          {
            "apiKey": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentRequest"
              },
              "examples": {
                "reddit": {
                  "value": {
                    "url": "https://www.reddit.com/r/pics/comments/abc123/title/",
                    "depth": 3,
                    "comments": 10
                  }
                },
                "x": {
                  "value": {
                    "url": "https://x.com/user/status/123"
                  }
                },
                "text": {
                  "value": {
                    "url": "https://x.com/user/status/123",
                    "format": "text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the content as json, or plain text when format is text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                },
                "example": {
                  "source": "twitter",
                  "url": "https://x.com/user/status/123",
                  "post": {
                    "id": "123",
                    "url": "https://x.com/user/status/123",
                    "author": {
                      "handle": "user",
                      "name": "User",
                      "url": "https://x.com/user"
                    },
                    "createdAt": "2026-09-30T12:00:00.000Z",
                    "title": null,
                    "text": "3/ and that is why the penguin wins.",
                    "media": [],
                    "links": [],
                    "quoted": {
                      "id": "100",
                      "url": "https://x.com/other/status/100",
                      "author": {
                        "handle": "other",
                        "name": "Other",
                        "url": "https://x.com/other"
                      },
                      "createdAt": "2026-09-29T08:00:00.000Z",
                      "title": null,
                      "text": "penguins cannot fly",
                      "media": [],
                      "links": [],
                      "quoted": null,
                      "parent": null,
                      "stats": {
                        "likes": 12,
                        "reposts": 1,
                        "replies": 3,
                        "score": null,
                        "views": 900
                      },
                      "flags": {
                        "nsfw": false,
                        "spoiler": false,
                        "edited": false
                      },
                      "extra": {}
                    },
                    "parent": {
                      "id": "122",
                      "url": "https://x.com/user/status/122",
                      "author": {
                        "handle": "user",
                        "name": null,
                        "url": "https://x.com/user"
                      }
                    },
                    "stats": {
                      "likes": 40,
                      "reposts": 4,
                      "replies": 2,
                      "score": null,
                      "views": 3100
                    },
                    "flags": {
                      "nsfw": false,
                      "spoiler": false,
                      "edited": false
                    },
                    "extra": {
                      "lang": "en"
                    }
                  },
                  "thread": [
                    {
                      "id": "121",
                      "text": "1/ a thread about penguins"
                    },
                    {
                      "id": "122",
                      "text": "2/ they are birds"
                    },
                    {
                      "id": "123",
                      "text": "3/ and that is why the penguin wins."
                    }
                  ],
                  "comments": [],
                  "truncated": false
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "twitter: https://x.com/user/status/123\n\n@user (User) · 2026-09-30 12:00\n1/ a thread about penguins\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "api key format: gk_<id>_<secret>"
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-gw_session"
      }
    },
    "responses": {
      "Error": {
        "description": "error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Retry-After": {
            "description": "seconds to wait, on 429 RATE_LIMITED",
            "schema": {
              "type": "integer"
            }
          }
        }
      }
    },
    "schemas": {
      "Turnstile": {
        "type": "object",
        "properties": {
          "turnstile": {
            "type": "string",
            "description": "turnstile token for the web page"
          }
        }
      },
      "DownloadRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "link or text containing a link"
          },
          "mode": {
            "type": "string",
            "enum": ["auto", "audio", "mute"],
            "default": "auto",
            "description": "auto: the file as posted. audio: an mp3. mute: the video without its sound."
          },
          "start": {
            "type": "string",
            "description": "trim start in seconds, m:ss, or h:mm:ss"
          },
          "end": {
            "type": "string",
            "description": "trim end in seconds, m:ss, or h:mm:ss"
          },
          "split": {
            "type": "boolean",
            "default": true,
            "description": "false: never answer with separate video and audio parts (merge), get one finished file instead"
          },
          "turnstile": {
            "type": "string",
            "description": "web page only. scripts use an api key"
          }
        }
      },
      "DownloadResult": {
        "type": "object",
        "required": ["lane", "files"],
        "properties": {
          "lane": {
            "type": "string",
            "enum": ["direct", "worker", "r2"],
            "description": "direct uses the source link. worker streams through dl.gronka.dev; links last one hour. r2 copies to cdn.gronka.dev and is deleted after one hour."
          },
          "merge": {
            "type": "boolean",
            "description": "true when separate video and audio files need merging"
          },
          "filename": {
            "type": "string",
            "description": "suggested name for the merged file"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["url"],
              "properties": {
                "url": {
                  "type": "string"
                },
                "filename": {
                  "type": ["string", "null"]
                },
                "type": {
                  "type": "string",
                  "description": "media type, such as video, image, gif, or audio"
                },
                "kind": {
                  "type": "string",
                  "enum": ["video", "audio", "file"],
                  "description": "worker lane only. file is a plain image or other file"
                },
                "size": {
                  "type": ["integer", "null"]
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "examples": [
                  "BAD_REQUEST",
                  "BAD_URL",
                  "CONTENT_FAILED",
                  "CONTENT_GONE",
                  "DOWNLOAD_FAILED",
                  "INTERNAL",
                  "NETWORK_ERROR",
                  "PASSKEY_INVALID",
                  "RATE_LIMITED",
                  "TOTP_INVALID",
                  "TOTP_LOCKED",
                  "TOTP_REQUIRED",
                  "UNAUTHORIZED",
                  "UNSUPPORTED_SOURCE",
                  "VALIDATION_ERROR",
                  "VERIFICATION_FAILED"
                ]
              },
              "message": {
                "type": "string",
                "description": "safe to show to a person"
              },
              "retryAfter": {
                "type": "integer",
                "description": "on 429 RATE_LIMITED: seconds to wait before retrying, also sent as a Retry-After header"
              }
            }
          }
        }
      },
      "ContentRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "link or text containing a link. reddit post or comment permalinks, /s/ share links, x.com, twitter.com and their embed mirrors"
          },
          "format": {
            "type": "string",
            "enum": ["json", "text"],
            "default": "json",
            "description": "text: a plain-text rendering of the same content, one block per post, comments indented"
          },
          "thread": {
            "type": "boolean",
            "default": true,
            "description": "x only. follow the author's own replies upward from the linked post to rebuild the thread"
          },
          "depth": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 10,
            "description": "reddit only. how many comment levels to include; 0 leaves out comments"
          },
          "comments": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20,
            "default": 0,
            "description": "replies to include, at most 20. off unless set"
          },
          "transcript": {
            "oneOf": [
              { "type": "boolean" },
              { "type": "string", "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{1,8})*$" }
            ],
            "default": false,
            "description": "youtube only. adds post.extra.transcript: { language, generated, segments: [{ start, end, text }] }, or null when there are no captions. true picks the video's own language, a code like \"en\" picks that one"
          },
          "turnstile": {
            "type": "string",
            "description": "web page only. scripts use an api key"
          }
        }
      },
      "Post": {
        "type": "object",
        "required": ["id", "url", "author", "text", "media", "links", "stats"],
        "properties": {
          "id": {
            "type": ["string", "null"]
          },
          "url": {
            "type": ["string", "null"]
          },
          "author": {
            "type": "object",
            "properties": {
              "handle": {
                "type": ["string", "null"],
                "description": "the @name or u/name, without the prefix"
              },
              "name": {
                "type": ["string", "null"]
              },
              "url": {
                "type": ["string", "null"]
              }
            }
          },
          "createdAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "title": {
            "type": ["string", "null"],
            "description": "reddit post title"
          },
          "text": {
            "type": "string",
            "description": "the body as plain text; reddit markdown is left as written"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["type", "url"],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["image", "video", "gif"]
                },
                "url": {
                  "type": "string"
                },
                "alt": {
                  "type": ["string", "null"]
                },
                "width": {
                  "type": ["integer", "null"]
                },
                "height": {
                  "type": ["integer", "null"]
                }
              }
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "outbound links in the text, a reddit link post's target included"
          },
          "quoted": {
            "description": "the quoted post or crosspost parent",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Post"
              },
              {
                "type": "null"
              }
            ]
          },
          "parent": {
            "type": ["object", "null"],
            "description": "what this item replies to",
            "properties": {
              "id": {
                "type": ["string", "null"]
              },
              "url": {
                "type": ["string", "null"]
              },
              "author": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "handle": {
                        "type": ["string", "null"],
                        "description": "the @name or u/name, without the prefix"
                      },
                      "name": {
                        "type": ["string", "null"]
                      },
                      "url": {
                        "type": ["string", "null"]
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          "stats": {
            "type": "object",
            "description": "each a number or null when the source does not say",
            "properties": {
              "likes": {
                "type": ["integer", "null"]
              },
              "reposts": {
                "type": ["integer", "null"]
              },
              "replies": {
                "type": ["integer", "null"]
              },
              "score": {
                "type": ["integer", "null"],
                "description": "reddit net votes"
              },
              "views": {
                "type": ["integer", "null"]
              }
            }
          },
          "flags": {
            "type": "object",
            "properties": {
              "nsfw": {
                "type": "boolean"
              },
              "spoiler": {
                "type": "boolean"
              },
              "edited": {
                "type": "boolean"
              }
            }
          },
          "extra": {
            "type": "object",
            "description": "source fields that do not fit above: subreddit, flair, poll, article, communityNote, op, distinguished"
          }
        }
      },
      "Comment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Post"
          },
          {
            "type": "object",
            "properties": {
              "depth": {
                "type": "integer"
              },
              "replies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        ]
      },
      "Thread": {
        "type": "object",
        "required": ["source", "url", "post", "thread", "comments", "truncated"],
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "reddit",
              "twitter",
              "bluesky",
              "instagram",
              "tiktok",
              "booru",
              "pinterest",
              "video"
            ]
          },
          "url": {
            "type": "string",
            "description": "the canonical link"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          },
          "thread": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            },
            "description": "the author's own thread in order, the post included; empty when the post stands alone"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            },
            "description": "replies by others as a tree (reddit); always empty for x"
          },
          "truncated": {
            "type": "boolean",
            "description": "true when depth, comments or thread caps dropped something"
          }
        }
      }
    }
  }
}
