{
  "openapi": "3.1.0",
  "info": {
    "title": "gronka api",
    "version": "1.0.0-preview",
    "description": "paste a link, get the file. preview: not live yet and may change."
  },
  "servers": [
    {
      "url": "https://api.gronka.dev"
    }
  ],
  "tags": [
    {
      "name": "download"
    },
    {
      "name": "keys",
      "description": "no accounts: a key is shown once and only its keyed hash is stored."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "check the service",
        "responses": {
          "200": {
            "description": "service is up",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/download": {
      "post": {
        "tags": ["download"],
        "summary": "download from a link",
        "security": [
          {
            "apiKey": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadRequest"
              },
              "examples": {
                "plain": {
                  "value": {
                    "url": "https://x.com/user/status/123"
                  }
                },
                "trimmedAudio": {
                  "value": {
                    "url": "https://youtu.be/abc",
                    "mode": "audio",
                    "start": "1:00",
                    "end": "1:30"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "download result. a download that runs past about 80 seconds sends leading spaces first, and its error, if any, is in the body with this status",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DownloadResult"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "direct": {
                    "value": {
                      "lane": "direct",
                      "files": [
                        {
                          "url": "https://video.twimg.com/...",
                          "filename": null,
                          "type": "video"
                        }
                      ]
                    }
                  },
                  "merge": {
                    "value": {
                      "lane": "worker",
                      "merge": true,
                      "filename": "clip.mp4",
                      "files": [
                        {
                          "url": "https://dl.gronka.dev/f/...",
                          "filename": "clip.video.mp4",
                          "kind": "video",
                          "size": 30123456
                        },
                        {
                          "url": "https://dl.gronka.dev/f/...",
                          "filename": "clip.audio.m4a",
                          "kind": "audio",
                          "size": 1234567
                        }
                      ]
                    }
                  },
                  "failed": {
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "video duration exceeds the maximum allowed (60 minutes)."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "limits: 50 downloads per 10 minutes per ip, or per key for api keys. keyed requests are also limited to 30 key checks per 10 minutes per ip."
      }
    },
    "/v1/keys": {
      "post": {
        "tags": ["keys"],
        "summary": "create an api key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Turnstile"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "key shown once. it cannot be recovered.",
            "content": {
              "application/json": {
                "example": {
                  "id": "gk_ab12cd34",
                  "key": "gk_ab12cd34_..."
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": ["keys"],
        "summary": "revoke the api key sent as the bearer token",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "key revoked"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "api key format: gk_<id>_<secret>"
      }
    },
    "responses": {
      "Error": {
        "description": "error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Retry-After": {
            "description": "seconds to wait, on 429 RATE_LIMITED",
            "schema": {
              "type": "integer"
            }
          }
        }
      }
    },
    "schemas": {
      "Turnstile": {
        "type": "object",
        "properties": {
          "turnstile": {
            "type": "string",
            "description": "turnstile token for the web page"
          }
        }
      },
      "DownloadRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "link or text containing a link"
          },
          "mode": {
            "type": "string",
            "enum": ["auto", "audio", "mute"],
            "default": "auto",
            "description": "auto: the file as posted. audio: an mp3. mute: the video without its sound."
          },
          "start": {
            "type": "string",
            "description": "trim start in seconds, m:ss, or h:mm:ss"
          },
          "end": {
            "type": "string",
            "description": "trim end in seconds, m:ss, or h:mm:ss"
          },
          "split": {
            "type": "boolean",
            "default": true,
            "description": "false: never answer with separate video and audio parts (merge), get one finished file instead"
          },
          "turnstile": {
            "type": "string",
            "description": "web page only. scripts use an api key"
          }
        }
      },
      "DownloadResult": {
        "type": "object",
        "required": ["lane", "files"],
        "properties": {
          "lane": {
            "type": "string",
            "enum": ["direct", "worker", "r2"],
            "description": "direct uses the source link. worker streams through dl.gronka.dev; links last one hour. r2 copies to cdn.gronka.dev and is deleted after one hour."
          },
          "merge": {
            "type": "boolean",
            "description": "true when separate video and audio files need merging"
          },
          "filename": {
            "type": "string",
            "description": "suggested name for the merged file"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["url"],
              "properties": {
                "url": {
                  "type": "string"
                },
                "filename": {
                  "type": ["string", "null"]
                },
                "type": {
                  "type": "string",
                  "description": "media type, such as video, image, gif, or audio"
                },
                "kind": {
                  "type": "string",
                  "enum": ["video", "audio", "file"],
                  "description": "worker lane only. file is a plain image or other file"
                },
                "size": {
                  "type": ["integer", "null"]
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "examples": [
                  "BAD_REQUEST",
                  "BAD_URL",
                  "CONTENT_GONE",
                  "DOWNLOAD_FAILED",
                  "INTERNAL",
                  "NETWORK_ERROR",
                  "PASSKEY_INVALID",
                  "RATE_LIMITED",
                  "TOTP_INVALID",
                  "TOTP_LOCKED",
                  "TOTP_REQUIRED",
                  "UNAUTHORIZED",
                  "VALIDATION_ERROR",
                  "VERIFICATION_FAILED"
                ]
              },
              "message": {
                "type": "string",
                "description": "safe to show to a person"
              },
              "retryAfter": {
                "type": "integer",
                "description": "on 429 RATE_LIMITED: seconds to wait before retrying, also sent as a Retry-After header"
              }
            }
          }
        }
      }
    }
  }
}
