# written by pages.mjs
public/sitemap.xml
public/robots.txt
public/tiktok/
public/instagram/
public/x/
public/youtube/
public/reddit/
public/pinterest/
public/facebook/
public/bluesky/
public/snapchat/
public/tumblr/
public/twitch/
public/soundcloud/
public/streamable/
public/dailymotion/
public/imgur/
public/giphy/
public/tenor/
public/klipy/
public/kick/
public/medal/
public/rumble/
public/coub/
public/niconico/
public/bilibili/
public/xiaohongshu/
public/mega/
public/deviantart/
public/artstation/
public/flickr/
public/wallhaven/
public/mangadex/
